/**
Your Code
 */

body {
    font-family: Arial, serif;
}

.photos {
    counter-set: counter123 -1;
}

.photos > .photo-item:nth-child(n + 9) {
    counter-increment: counter123 1;
    position: absolute;
    opacity: 0;
}

.photos > .photo-item:last-child {
    position: relative;
    opacity: 1;
}

.photos > .photo-item:last-child:after {
    content: '+ ' counter(counter123, decimal);
    background-color: rgba(42, 42, 42, 0.74);
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photos > .photo-item:nth-child(-n + 9):after {
    content: '';
    background-color: unset;
}
