body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
    transition: all .5s;
}

.circle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    margin-left: 150px;
    animation: rotate 1s ease forwards;
}

.day-btn, .night-btn {
    position: relative;
}

.day-btn > input, .night-btn > input {
    appearance: none;
    width: 100px;
    height: 40px;
    background-color: gold;
    cursor: pointer;
}

.night-btn > input {
    background-color: #1d223c;
}

body:has(.day-btn > input:checked) > .circle {
    animation: rotate 1s ease forwards;
}

body:has(.night-btn > input:checked) > .circle {
    animation: rotate-back 1s ease forwards;
}

body:has(.day-btn > input:checked) {
    background-color: #d1b345;
}

body:has(.night-btn > input:checked) {
    background-color: #1d223c;
}

.day-btn > span, .night-btn > span {
    position: absolute;
    top: 13px;
    left: 45px;
    cursor: pointer;
}

.night-btn > span {
    color: white;
}

.view {
    width: 100vw;
    height: 1000px;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
}

.buttons {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 20px;
}

@keyframes rotate {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(270deg);
    }
}

@keyframes rotate-back {
    from {
        transform: rotate(270deg);
    }
    to {
        transform: rotate(90deg);
    }
}

.clouds {
    position: fixed;
    top: 0;
    height: 300px;
    width: 100vw;
}

.clouds > img:first-child {
    position: absolute;
    opacity: 0.5;
    animation: move-cloud 50s linear;
}

.clouds > img:last-child {
    position: absolute;
    opacity: 0.5;
    top: 200px;
    animation: move-cloud2 50s linear;
}

@keyframes move-cloud {
    from {
        right: 0;
    }
    to {
        right: 105vw;
    }
}

@keyframes move-cloud2 {
    from {
        right: 300px;
    }
    to {
        right: 105vw;
    }
}