.stars {
    mask-image: url("stars.png");
    width: 750px;
    height: 150px;
}

.mask {
    background-image: url("Untitled.png");
    width: 750px;
    height: 150px;
}

.stars {
    display: flex;
}

.stars > div {
    width: 75px;
}

.stars > div:hover {
    background-color: gold;
}