body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.flag {
    position: relative;
    transform: scale(5);
}

.center {
    width: 50px;
    height: 50px;
    background: linear-gradient(180deg, #CD2E3A 50%, #0047A0 50%);
    border-radius: 50%;
    position: relative;
    transform: rotate(20deg);
}

.red-circle, .blue-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
}

.red-circle {
    background-color: #CD2E3A;
    top: 11px;
    left: 0px;
}

.blue-circle {
    background-color: #0047A0;
    bottom: 11px;
    right: 0px;
}

.square {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 25px;
    position: absolute;
}

.line {
    width: 25px;
    height: 3px;
    background-color: black;
}

.square-1 {
    left: -20px;
    top: -6px;
    transform: rotate(131deg);
}

.square-2 {
    left: -20px;
    bottom: -6px;
    transform: rotate(45deg);
}

.line-split {
    display: flex;
    gap: 2px;
}

.square-3 {
    right: -20px;
    top: -6px;
    transform: rotate(-131deg);
}

.square-4 {
    right: -20px;
    bottom: -6px;
    transform: rotate(-45deg);
}