body {
    background-color: #444444;
    font-family: Arial;
    overflow-x: hidden;
}
.marquee {
    color: white;
    font-weight: bold;
    font-size: 80px;
    font-style: italic;
    display: flex;
    gap: 50px;
}

.marquee > h1:first-child {
    animation: anim1 4s linear infinite;
    position: absolute;
}

.marquee > h1:nth-child(2), .marquee > h1:nth-child(3) {
    left: 100%;
    animation-name: anim1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    position: absolute;
}

.marquee > h1:nth-child(3) {
    animation-delay: 4s;
}

@keyframes anim1 {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}






